@model ConsejeriaEpics.Models.Usuario

@{
    Layout="";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Consejeria EPICS</title>
    <link href="~/lib/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/lib/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div >
        <main role="main" >
            <div id="login" >
                <img src="~/img/fia.jpg" style="width: 100%; height:754px" >
            <div class="loginbox" style="padding-bottom: none;">
                    <h1>Login</h1>
                    <form asp-action="Logueo" asp-controller="Login">
                        <p>Usuario</p>
                        <input type="text" asp-for="Correo" placeholder="Escribe tu correo institucional">
                        <p>Contraseña</p>
                        <input type="password" asp-for="Password" placeholder="Escribe tu contraseña">
                        <input type="submit" value="Iniciar Sesión">
                    </form>
                    <a asp-action="Registro" asp-controller="Login">Registrar Usuario</a>
                </div>
            </div>
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>