/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  text-decoration: none;
}

a {
  color: #910222;
}

a:hover {
  color:#910222;
  text-decoration: none;
}

.center{
  text-align: center;
}













  
  
  
  

  

  





  
